<h3 dir="rtl">הוספת הורה</h3>

<form [formGroup]="form" (ngSubmit)="submit()" dir="rtl">
  <label>שם מלא</label>
  <input formControlName="full_name" />
  <div class="err" *ngIf="form.controls['full_name']?.touched && form.controls['full_name']?.invalid">
    חובה להזין שם
  </div>

  <label>אימייל</label>
  <input formControlName="email" />
  <div class="err" *ngIf="form.controls['email']?.touched && form.controls['email']?.invalid">
    חובה להזין מייל
  </div>

<label>טלפון</label>
<input formControlName="phone"/>
<div class="err" *ngIf="form.controls['phone']?.touched && form.controls['phone']?.invalid">
  חובה להזין טלפון
</div>

<label>תעודת זהות</label>
<input formControlName="id_number"/>
<div class="err" *ngIf="form.controls['id_number']?.touched && form.controls['id_number']?.invalid">
  חובה להזין ת"ז
</div>

<label>כתובת</label>
<input formControlName="address"/>
<div class="err" *ngIf="form.controls['address']?.touched && form.controls['address']?.invalid">
  חובה להזין כתובת
</div>

<label>הערות</label>
<textarea formControlName="extra_notes" rows="3"></textarea>
<div class="err" *ngIf="form.controls['extra_notes']?.touched && form.controls['extra_notes']?.invalid">
  חובה להזין הערות
</div>


  <fieldset formGroupName="prefs" style="margin-top:10px">
    <legend>העדפות תקשורת</legend>
    <label><input type="checkbox" formControlName="inapp" /> אפליקציה</label>
    <label><input type="checkbox" formControlName="email" /> אימייל</label>
    <label><input type="checkbox" formControlName="sms" /> SMS</label>
    <label><input type="checkbox" formControlName="whatsapp" /> וואטסאפ</label>
  </fieldset>

  <div class="actions">
    <button type="button" (click)="cancel()">ביטול</button>
    <button type="submit">הוספה</button>
  </div>
</form>
