<div class="dlg" dir="rtl">
  <div class="dlg-head">
   <div class="availability-dialog-header">

  <div class="availability-dialog-titles">
    <h1>עריכת שעות עבודה</h1>
    <p>{{ data.instructorName }}</p>
  </div>

  <button
    mat-icon-button
    class="availability-dialog-close"
    (click)="close()"
  >
    ✕
  </button>

</div>
  <div class="dlg-body">
    <!-- כאן אנחנו "מזריקים" את העורך -->
    <app-availability-tab
      [mode]="'secretary'"
      [instructorIdNumber]="data.instructorIdNumber">
    </app-availability-tab>
  </div>
</div>
